{% block subject %}
Сброс имени пользователя на сайте lms_perm_university.ru
{% endblock subject %}

{% block html_body %}
<p>Уважаемый пользователь, Вы получили это электронное письмо, поскольку запросили сброс имени пользователя для своей учетной записи на сайте <b>lms_perm_university.ru</b>.</p>
<p>Пожалуйста, перейдите по следующей <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">ссылке</a> и задайте новое имя пользователя.
Ссылка действительна в течение одного часа.</p>
<p>Спасибо за использование нашей информационной системы</p>
<p>Команда <b>lms_perm_university.ru</b></p>
{% endblock html_body %}
